.product-card {
  margin-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.card {
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.product-image {
  width: 100%;
  height: 210px;
  object-fit: cover;
  object-position: center;
}

.product-details {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.product-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #4a5568;
}

.product-description {
  font-size: 0.875rem;
  color: #718096;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.price {
  font-size: 1.25rem;
  color: #4f46e5;
}

.favorite-button {
  padding: 0.5rem;
  border-radius: 9999px;
  transition: color 0.2s;
  cursor: pointer;
  background: none;
  border: none;
}

.favorite-button.active {
  color: #f87171;
}

.favorite-button:not(.active) {
  color: #9ca3af;
}

.favorite-button:hover {
  color: #f87171;
}

.detail-button {
  margin-top: 16px;
  width: 100%;
  background-color: #4f46e5;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}

.detail-button:hover {
  background-color: #4338ca;
}